
<main class="main">
  <p class="main-header">Home Page</p>
  <p class="name-header">Kyle Palmateer</p>
  <p class="email-header">kpalmateer&#64;gmail.com</p>
  <div class="content">
    <div class="left-side">
      <p>Welcome to my portfolio site.</p>
      <p>Here I will be adding content to demonstrate my skills as a developer.</p>
    </div>
    <div class="right-side">
      <p>Right now, I'm using Angular and SCSS to work on a reactive layout for my website.</p>
    </div>
  </div>
</main>

<router-outlet />
