<section class="resume">

<div class="contact-block">
<h1 class="left-align">Kyle Palmateer</h1>
<h2 class="right-align">kpalmateer&#64;gmail.com</h2>
<h2 class="left-align">Minneapolis, MN</h2>
<h2 class="right-align">651-233-0864</h2>
</div>

<div class="background-block">
<h3>Background</h3>
<p>I’m a lifelong tech enthusiast with years of experience in the IT field. I have a well-rounded professional background, and time spent in customer-facing positions has helped me develop strong interpersonal and communication skills. I’m a seeker of knowledge, and I’m always excited to learn new things, embrace new technologies, and face new challenges. I take pride in my work, and I can thrive independently or when contributing to group initiatives.</p>
</div>

<div class="experience-block">
<h3>Experience</h3>
<div class="experience-header">
<p>Power/mation</p>
<p class="right-align">St. Paul, MN</p>
<p>IT Support Analyst</p>
<p class="right-align">January 2023 - Present</p>
</div>
<ul>
    <li>Business process analysis and improvement, leveraging automation to increase productivity and accuracy in company processes</li>
    <li>ERP software customization, developing modifications with SQL and C# to adapt the platform to organizational standards and practices</li>
    <li>Virtual machine management, using VMware to deploy, monitor, and use Windows servers and virtual machines</li>
    <li>Advanced support, providing stakeholders with advanced technical knowledge and troubleshooting high-level incidents</li>
    <li>Web development, maintaining and modernizing the corporate intranet, migrating pages to SharePoint, and managing employee databases</li>
</ul>

<div class="experience-header">
<p>PC Technician</p>
<p class="right-align">January 2018 - January 2023</p>
</div>
<ul>
    <li>Primary companywide support contact</li>
    <li>Asset management and procurement</li>
    <li>Responsible for onboarding and offboarding staff, including device setup, issuance and management</li>
</ul>
</div>

<div class="skills-block">
<h3>Technical Skills</h3>
<div class="skills-grid">
    <li>VMware</li>
    <li>Power Automate</li>
    <li>Vs Code/Visual Studio</li>
    <li>C#/.NET</li>
    <li>Python</li>
    <li>SQL Server/MySQL</li>
    <li>Vue.js</li>
    <li>GCP/Azure Deployment</li>
    <li>Full-stack development</li>
</div>
</div>

<div class="education-block">
<h3>Education</h3>
<div class="education-grid">
<p>Software Development AAS</p>
<p class="right-align">Minneapolis, MN</p>
<p>Minneapolis College</p>
<p class="right-align">January 2020 - December 2023</p>
</div>
<div class="education-grid">
<p>Visual C# Developer Certificate</p>
<p class="right-align">Minneapolis, MN</p>
<p>Minneapolis College</p>
<p class="right-align">January 2020 - December 2023</p>
</div>
<div class="education-grid">
<p>Java Developer Certificate</p>
<p class="right-align">Minneapolis, MN</p>
<p>Minneapolis College</p>
<p class="right-align">January 2020 - December 2023</p>
</div>
<div class="education-grid">
<p>Web Developer Certificate</p>
<p class="right-align">Minneapolis, MN</p>
<p>Minneapolis College</p>
<p class="right-align">January 2020 - December 2023</p>
</div>
</div>

</section>