/* You can add global styles to this file, and also import other style files */

$font-home-main: Helvetica, Arial, sans-serif;
$color-green-main: #114E32;
$color-brown-lt: #7B4F1A;
$color-brown-dk: #4E3211;

