/* You can add global styles to this file, and also import other style files */

$font-home-main: Helvetica, Arial, sans-serif;
$color-green-main: #114E32;
$color-brown-lt: #7B4F1A;
$color-brown-dk: #4E3211;

p {
    font-family: $font-home-main;
    font-size: 1.2rem;
    margin: .1vw;
    color: $color-brown-dk;
}

.content {
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
    flex: 1;
    row-gap: 1vw;
    column-gap: 1vw;
    margin: 1vw;
}

.left-side {
    padding: 1vw;
    border: solid;
    border-radius: 5px;
    border-width: .2vw;
    border-color: $color-brown-lt;
}

.right-side {
    padding: 1vw;
    border: solid;
    border-radius: 5px;
    border-width: .2vw;
    border-color: $color-brown-lt;
}

.main-header {
        font-size: 2rem;
        color: $color-green-main;
        font-family: $font-home-main;
        margin: 1vw;
}

.name-header {
    font-family: $font-home-main;
    font-size: 1.4rem;
    margin: 1vw;
}

.email-header {
    font-family: $font-home-main;
    font-size: 1.2rem;
    margin: 1vw;
}